* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --background: #f5f6fa;

  --primary: #373D4F;
}

body {
  background: var(--background);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}